.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  padding-left: 0;
}
ul li {
  list-style-position: inside;
}

.sections {
  flex-wrap: wrap;
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  position: relative;
  height: fit-content;
}
.rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  text-align: center;
  /* color: white; */
  font-family: sans-serif;
  font-size: 36px;

  width: 100%;
  position: relative;
  justify-content: space-evenly;
}
/* .nav {
  display: flex;
  flex-direction: row;
  top: 0;
  background-color: white;
  flex-grow: 1;
  width: 100%;
  color: black;
  height: 5rem;
  font-size: 100%;
} */
.nav {
  background-color: white;
  width: 100%;
  height: fit-content;
}
/* .nav > div {
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
} */
.navbar {
  width: 100%;
}
.nav-image {
  position: relative;
  height: 5rem;
  max-width: 100%;
  object-fit: contain;
}
.nav-image-container {
  height: 5rem;
  overflow: hidden;
}
.middle {
  background-color: white;
}
.legend {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  color: black;
}

.legend > p {
  margin: auto;
  text-align: center;
}
.footer {
  font-size: 1vw;
}
.footer-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  background-color: black;
  height: 20rem;
  padding: 0 2rem 0 2rem;
  min-width: 0;
}
.footer-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  min-width: 0;
}
.footer-line hr {
  border: 1px solid white;
  opacity: 1;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  width: 20%;
  flex-grow: 1;
  justify-content: space-between;
  min-width: 0;
}
.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: baseline; */
  width: 20%;
  min-width: 0;
  flex-grow: 1;
  font-size: 1rem;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  line-height: 0.1rem;
  width: 50%;
  min-width: 0;
  flex-grow: 1;
}
.footer-right h1 {
  color: blue;
}
.footer-right p {
  font-size: medium;
}

/* home */

.home {
  display: flex;
  flex-direction: column;
  /* width: 100%;
  height: 400px; */
  /* background-image: url("../public/images/Hero Section Background.png"); */
  background-size: cover;
  /* border: 1px solid red; */
  background-repeat: no-repeat;
  /* overflow: hidden; */
}
.home button {
  margin: auto;
}
.home-content {
  display: flex;
  flex-direction: column;

  /* max-height: 6rem; */
}

/* .home-backgro {
  position: relative;
  left: 20rem;
  overflow: hidden;
  transform: scale(1.2);
  transform: rotate(-10deg);
  max-height: 20rem;
  z-index: -1;
} */
.home-background {
  position: absolute;
  /* width: 50%; */
  /* display: flex;
  flex-direction: column; */
  z-index: -2;
  /* overflow: hidden; */
  /* z-index: 0; */
}

.home-background img {
  position: relative;
  width: 100%;
  height: 100%;
  /* object-fit: contain;
  background-size: cover; */
  /* transform: scale(0.5); */
}
.home-background2 {
  position: absolute;
  z-index: -1;
  margin-left: 15%;
}
.home-background2 img {
  position: relative;
  width: 100%;
  height: 100%;
  /* float: right; */

  transform: scale(0.7);
}

.section-style {
  width: 100%;
  height: 64rem;
  flex-grow: 1;
  overflow: hidden;
}

.section-style-home {
  /* overflow: hidden; */
  display: flex;
  flex-grow: 1;
}
.home-title {
  display: flex;
  color: #fd7878;
  font-size: 4rem;
  text-align: left;
  padding-left: 2rem;
  width: 50%;
  margin-top: 10%;
}

.home-message {
  display: flex;
  /* color: white; */
  font-size: 2rem;
  margin-top: 0;
  text-align: left;
  padding-left: 3rem;
  width: 50%;
  min-height: 5rem;
  max-height: 20rem;
}
.home-btn {
  color: #000000;
}
.home-btn2 {
  color: #fd7878;
}
.home-message button {
  height: 4rem;
  font-size: larger;
  margin-left: -1rem;
}

.home-top-layer {
  z-index: 2;
  position: absolute;
  width: 60%;
  height: 100%;
  text-align: left;
  padding-top: 10rem;
  padding-left: 1rem;
  overflow: hidden;
}
.home-background-image {
  position: relative;
  margin-top: 4rem;
  left: 20rem;
  z-index: -1;
  overflow: hidden;
  transform: scale(1.2);
  transform: rotate(-10deg);
  object-fit: contain;
}

/* About */
/* .section-style-about {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0;
} */
.about-inner-style {
  align-content: center;
  height: 50%;
  /* overflow: hidden; */
}

.about-inner-style-top {
  height: 40rem;
  overflow: hidden;
  position: relative;
}

.about-inner-style-bottom {
  width: 50%;
  height: 100%;
  text-align: left;
  position: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  color: #000000;
  margin-top: -20rem;

  /* overflow: hidden; */
}
.about-photo-style {
  transform: scale(0.5);
  clip-path: circle(20rem);
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -10rem;
}
/* .about-style {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  filter: blur(3px);
  color: #000000;
  object-fit: contain;
  width: 100%;
  height: 100%;
  /* transform: scale(2); */
/* } */
.about-style {
  position: absolute;
  z-index: -2;
}
.about-style img {
  position: relative;
  width: 100%;
  height: 100%;
  /* filter: blur(4px); */
  /* transform: scale(3); */
}

/* .about-style2 {
  background-color: black;
  opacity: 0.5;
} */

.about-style2 img {
  position: relative;
  /* transform: scale(3); */
}
.about-style3 {
  position: absolute;
  background-color: white;
  opacity: 0.5;
  z-index: -1;
}

/* Projects */
.placeholder-color {
  background-color: aqua;
  margin-top: 0;
  height: 30rem;
}

.projects-style {
  position: relative;
  background-color: white;
  width: 60rem;
  height: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  border-bottom: solid;
}
.projects-inner-style {
  position: relative;
  width: 50rem;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
}
.projects-img {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.projects-h1 {
  font-size: 4rem;
  position: relative;
  color: #000000;
}
.projects-p {
  font-size: 1.5rem;
  position: relative;
  color: #000000;
}

/* Status */
.section-style-status {
  height: 60rem;
  padding-top: 2rem;
}
.status-style {
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
}
.status-text-style {
  position: relative;
}
.status-certificates-style {
  background-color: aquamarine;
  height: 60rem;
  width: 50%;
  margin-right: 5%;
  margin-left: 5%;
}

/* .status-certificate-background {
  opacity: 0.5;
  background-size: contain;
  background-repeat: no-repeat;
  object-position: 50% 50%;
} */
.status-education-style {
  background-color: coral;
  height: 60rem;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.status-education-background {
  position: relative;
  opacity: 0.5;
  transform: scale(1);
}
.status-game-section {
  background-color: #61dafb;
  height: 100%;
}
.status-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}
.status-box {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 30rem;
  border-radius: 3rem;
  height: 30rem;
  width: 45%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.status-box-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.status-box-inner img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.status-box-top {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.status-box-top ul {
  font-size: 1rem;
}
.status-box-top h1 {
  margin-top: 2rem;
}
.status-imgs {
  position: relative;
  height: 5rem;
  width: 5rem;
  margin: auto;
}
.status-points p {
  display: flex;
  align-items: center;
  font-size: medium;
  margin-left: 4rem;
}
.status-title {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.red {
  /* position: absolute; */
  z-index: 1;
  background-color: red;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.blue {
  position: absolute;
  z-index: 1;
  background-color: blue;
  opacity: 0.3;
  height: 100%;
  width: 100%;
}

/* Games*/
.card1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  min-width: 0;
  border-radius: 25px;
  padding: 25px 15px;
  margin: 50px 0;
  height: 30vh 30vw;
  width: 25%;
  box-shadow: 0 2px 5px #ccc;
  font-size: 2rem;
  max-width: 50%;
}
.card-body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  font-size: medium;
  flex-wrap: wrap;
  color: black;
  justify-content: left;
}

.card-body > h1 {
  font-size: x-large;
  color: #000000;
}
.dictionary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  min-width: 0;
  max-width: 90%;
  flex: 1 1 0;
  text-align: left;
}

.image-style {
  border-radius: 25px;
  position: relative;
  height: 10rem;
  width: 100%;
}

/* .game-title {
  text-shadow: #fd7878;
} */

/* Contact */
.contact-text {
  font-size: 1.5rem;
  margin-bottom: -0.2rem;
  text-align: left;
}

.contact-style {
  background-color: pink;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.contact-col {
  width: 45%;
  height: 90%;
  margin-top: auto;
  margin-bottom: auto;
}
.contact-col img {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  position: relative;
}
.contact-box {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 30rem;
  border-radius: 3rem;
  height: 40rem;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.contact-button {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  flex-grow: 1;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.contact-message {
  margin-top: 2rem;
}
